language: generic
sudo: required
services:
  - docker

before_install:
  - docker build -t matthewjhcarr/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true matthewjhcarr/docker-react yarn test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker-react"
  env: "Dockerreact-env"
  bucket_name: "elasticbeanstalk-us-east-2-857496270468"
  bucket_path: "docker-react"
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY

branches:
  only:
    - main